<div>
  <div>
    <h1>
      <%= @current_user.first_name%>'s plans:
    </h1>
  </div>
</div>
<hr>
<div>
  <div>
    <h2>
      Add a new plan
    </h2>
    <form action="/insert_plan" method="post">
      <div>
        <label for="title_box">
          Title
        </label>
        <input type="text" id="title_box" name="query_title">
      </div>
      <div>
        <input type="hidden" id="creator_id_box" name="query_creator_id" value="<%= @current_user.id %>">
      </div>
      <div>
        <label for="location_box">
          Location
        </label>
        <input type="text" id="location_box" name="query_location">
      </div>
      <div>
        <label for="time_box">
          Time
        </label>
        <input type="text" id="time_box" name="query_time">
      </div>
      <div>
        <label for="invited">
          Who do you want to invite?
        </label>
        <select id="invited" name="query_invited_id[]" multiple>
          <%User.all.each do |a_user|%>
            <% if a_user.id != @current_user.id %>
              <option value = <%= a_user.id %>>
                <%= a_user.first_name %> <%= a_user.last_name %>
              </option>
            <%end%>
          <%end%>
        </select>
      </div>
      <button type="button" class="btn btn-warning">
        Create plan
      </button>
    </form>
  </div>
</div>
<hr>


<h2> Plans I've Created </h2>
<div>
  <div>
    <table border = "2">
      <tr>
        <th>
          Title
        </th>
        <th>
          Creator
        </th>
        <th>
          Location
        </th>
        <th>
          Time
        </th>
        <th>
          Status
        </th>
        <th>
        </th>
      </tr>
      
      <% @list_of_my_plans.each do |a_plan| %>
        <tr>
          <td>
            <%= a_plan.title %>
          </td>
          <td>
            <% matching_user = User.where(:id => a_plan.creator_id).first %>
            <%= matching_user.first_name %>
          </td>
          <td>
            <%= a_plan.location %>
          </td>
          <td>
            <%= a_plan.time %>
          </td>
          <td>
            <% status = a_plan.find_status %>
            <% a_plan.status = status %>
            <% a_plan.save %>
            <%= a_plan.status %>
          </td>
          <td>
            <a href="/my_plans/<%= a_plan.id %>">
              Show details
            </a>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
<hr>
<hr>
<h2> Plans I'm Invited To </h2>
<div>
  <div>
    <table border = "1">
      <tr>
        
        <th>
          Title
        </th>
        <th>
          Creator
        </th>
        <th>
          Location
        </th>
        <th>
          Time
        </th>
        <th>
          Status
        </th>
        
        <th>
        </th>
      </tr>
      <% @list_of_invited_plans.each do |a_plan| %>
        <tr>
          
          <td>
            <%= a_plan.title %>
          </td>
          <td>
            <% matching_user = User.where(:id => a_plan.creator_id).first %>
            <%= matching_user.first_name %>
          </td>
          <td>
            <%= a_plan.location %>
          </td>
          <td>
            <%= a_plan.time %>
          </td>
          <td>
            <% status = a_plan.find_status %>
            <% a_plan.status = status %>
            <% a_plan.save %>
            <%= a_plan.status %>
          </td>
         
          <td>
            <a href="/my_invited_plans/<%= a_plan.id %>">
              Show details
            </a>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
<hr>

