
<div>
  <div>
    <h1>
      <% matching_user = User.where(:id => @the_plan.creator_id).first %>
      You are invited to <%= matching_user.first_name %>'s plan: <%= @the_plan.title %>
    </h1>
    <div>
      <div>
        <a href="/plans">
          Go back
        </a>
      </div>
      <% if @current_user.id == @the_plan.creator_id %>
        <div>
          <a href="/delete_plan/<%= @the_plan.id %>">
            Delete plan
          </a>
        </div>
      <% end %>
    </div>
    <dl>
      <dt>
        Title
      </dt>
      <dd>
        <%= @the_plan.title %>
      </dd>
      <dt>
        Creator
      </dt>
      <dd>
        <% matching_user = User.where(:id => @the_plan.creator_id).first %>
        <% if matching_user.id == @current_user.id %>
          <%= matching_user.first_name %> - This is your plan. 
        <% else %>
          <%= matching_user.first_name %>
        <% end %>
      </dd>
      <dt>
        Location
      </dt>
      <dd>
        <%= @the_plan.location %>
      </dd>
      <dt>
        Time
      </dt>
      <dd>
        <%= @the_plan.time %>
      </dd>
      <dt>
        Status
      </dt>
      <dd>
        <% matching_attendance = Attendance.where(:user_id => @current_user.id, :plan_id => @the_plan.id).first %>
        <% if matching_attendance.pending == true %>
          <p> You have not yet responded to this plan. </p>
          <div>
            <a class = "btn btn-success" href="/accept_plan/<%= @the_plan.id %>/<%= @current_user.id %>">
              Accept Invitation
            </a>
          </div>
          <div>
            <a class = "btn btn-danger" href="/decline_plan/<%= @the_plan.id %>/<%= @current_user.id %>">
              Decline Invitation
            </a>
          </div>
        <% elsif %>
          <p> You have already responded to this plan. </p>
          <p> Your status: <%= matching_attendance.get_status_text %> </p>
          <% status = @the_plan.find_status %>
          <% @the_plan.status = status %>
          <% @the_plan.save %>

          <% if @the_plan.status == "It's on!"%>
            <p class ="text-success" > Plan status: <%= @the_plan.status %> </p>
          <%elsif @the_plan.status == "This plan has been flaked on by everyone. This plan is now cancelled."%>
            <p class ="text-warning" > Plan status: <%= @the_plan.status %> </p>
          <% elsif @the_plan.status == "Someone invited could not make it. This plan is now cancelled." %>
            <p class ="text-danger" > Plan status: <%= @the_plan.status %> </p>
          <% else %>
            <p> Plan status: <%= @the_plan.status %> </p>
          <%end %>

          
          <% if matching_attendance.attending == true %>
            <div>
              <a class = "btn btn-primary" href="/flake/<%= @the_plan.id %>/<%= @current_user.id %>">
                FLAKE on this plan. 
              </a>
            </div>
            <div>
              <a class = "btn btn-danger" href="/decline_plan/<%= @the_plan.id %>/<%= @current_user.id %>">
                Decline Invitation
              </a>
            </div>
          <% end %>
        <%end %>
      </dd>
    </dl>
  </div>
</div>
<hr>

<hr>
